/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
 
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #FFFFF8;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background:white;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 0px;
    min-height: 420px;
}

.leftCol
{
    font: bold small-caps 13px Verdana;
    color:White;
    vertical-align:baseline;
    background: #414141;
    padding: 100px 0px;
    margin: 0px 0px 0px 0px;
    width: 210px;
    text-align:justify;
    height:400px;
}

.leftCol ul
{
    z-index:100;
    margin:  0px 0px 0px 0px;
    padding: 0px 0px;
    width: 180px;
    list-style-type: none;
}

/*Top level list items*/
.leftCol ul li{
    position: relative;
    display: inline;
    float: left;
    width: 170px;
}

/*Top level menu link items style*/
.leftCol ul li a{
    display: block;
    background: #D4D4D4; /*background of menu items (default state)*/
    text-align: justify;
    padding: 10px 10px;
    color: #2d2b2b;
    width: 170px;
    text-decoration: none;
    border-top: 1px solid #778;
}

* html .leftCol ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.leftCol ul li a:link, .ddsmoothmenu ul li a:visited{
    color: white;
}

.leftCol ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    background: black; 
    color: white;
}

.leftCol ul li a:hover{
    background: black; /*background of menu items during onmouseover (hover state)*/
    color: white;
}

* html .leftCol{height: 1%;}

.footer
{
    background-color:#F6F6F6;
    border-top:1px solid;
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ADADAD;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
}

.accordionHeader {
	background-color:#C9CDD7;
	border-style:dashed;
    text-align:center;
    font-weight:bold;
    width:100px;
}

.accordionHeaderSelected {
    background-color:#C9CDD7;
    border-style:solid;
    text-align:center;
    font-weight:bolder;
    width:100px;
    
}

.accordionContent {
    
    border-width:3px;
	border-style:double;
	border-color:#1B1B1B;
	padding:3px;
	width:inherit;
}